<configuration>
<system.webServer>
<handlers>
 <remove name="WebDAV" />
 <add name="iisnode" path="src/app.js" verb="*" modules="iisnode" />
 <add name="WebDAV" path="*" verb="HEAD,GET,POST,PUT,DELETE" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />
 </handlers>


<rewrite>
  <rules>
   <!-- Add the HTTP to HTTPS redirection rule -->
        <rule name="HTTP to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
    <rule name="nodejs" stopProcessing="false">
      <match url="(.*)" />
      <action type="Rewrite" url="src/app.js" />
    </rule>
  </rules>
</rewrite> 

		
  <modules runAllManagedModulesForAllRequests="false">
    <remove name="WebDAVModule" />
  </modules>
  
    <httpErrors existingResponse="PassThrough" />
</system.webServer>
 </configuration>
